<style>
	@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

	.insights-wrapper {
		font-family: 'Rubik', sans-serif;
		padding: 40px 10px 60px;
		max-width: 100%;
		margin: 0 auto;
	}

	.insights-title {
		color: black;
		font-size: 40px;
		font-weight: bold;
		letter-spacing: -0.74px;
		line-height: 63px;
		text-align: center;
		margin-bottom: 30px;
	}

	.insights-title span {
		border-bottom: 1px solid #979797;
	}

	.insights-embed-container {
		border: 1px solid rgba(0, 0, 0, .1);
		border-radius: 15px;
		overflow: hidden;
		box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);
		background: #f6f7f8;
		padding: 20px;
	}

	.insights-embed-container iframe {
		display: block;
		border-radius: 8px;
		width: 100%;
	}

	@media screen and (max-width: 375px) {
		.insights-title {
			font-size: 25px;
			line-height: 1.4;
		}
	}
</style>

<div class="insights-wrapper">
	<div class="insights-embed-container">
		<iframe frameborder=0 width="1000" height="1000" src="https://analytics.zoho.com/open-view/2093611000094149013/0368c399588462c5bdd1b2e4d664c5c95fe5dcbb7096b945663d78b9c93e4b8a"></iframe>
	</div>
</div>